html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  display: none;
}

#screenChooseCompany {
  display: none;
}

#screenOut {
  display: none;
}

.visit {
 background-color: rgb(214, 214, 214);
 border: none;
 color: black;
}

#formVisit {
  margin-top: 10%;
}

#infoVisit {
  margin-top: 2%;
}

#screenVisit {
  display: none;
}

.nav {
  z-index: 10;
}

#menuNav {
  z-index: 10;
}

.menu_content {
  z-index: 10;
}

#screenRegister {
  z-index: 0;
}

.btn-datos {
  z-index: -10;
}

#screenStart {
  background-image: url('../img/logo.png');
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat; 
  background-color: black;
  align-items: center;
  height: 100%;
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


#screenRegister {
  display: none;
}

.btnstart {
  width: 50%;
  height: 5%;
  border-radius: 15%;
  position: relative;
  top: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 130%;
  font-family: 'Roboto', sans-serif;
}

#userEmail{
  padding-top: 2%;
}

.encabezadotbl {
  color: #FAFAFA;
  font-size: 80%;
}